<div class="container">
  <div class="col-lg">
    <h1 class="text-center">About Us</h1>
    <p>At Tharun's Food, we build products & solutions that redefine the food ordering & delivery space in India, every single day. The best part?
      Every bit of your work at Tharun's food will help us change the way India eats!</p>
      <p>At Tharun's Food, we build products & solutions that redefine the food ordering & delivery space in India, every single day. The best part?
        Every bit of your work at Tharun's food will help us change the way India eats!</p>
        <p>At Tharun's Food, we build products & solutions that redefine the food ordering & delivery space in India, every single day. The best part?
          Every bit of your work at Tharun's food will help us change the way India eats!</p>
  </div>

</div>
